language: node_js
node_js:
  - 0.10
  - 0.12
  - iojs

cache:
  directories:
    - node_modules

env:
  global:
    - SAUCE_USERNAME=stringjs
    - SAUCE_ACCESS_KEY=04afebd2-6375-4c09-ada4-c218609ab3da

script:
  - npm test
  - gulp browserTest